
<div class="text-center">
    <h1 class="display-4">Alumnos</h1>
</div>

<button class="btn btn-primary m-3" onclick="AgregarAlumno()">Agregar Alumno</button>

<table id="alumnos" class="table table-striped" style="width:100%"></table>

<div id="alumnosAddPartial"></div>

<script src="~/js/Alumnos/Alumnos.js"></script>

