
<div class="text-center">
    <h1 class="display-4">Usuarios</h1>
</div>

<button class="btn btn-primary m-3" onclick="AgregarUsuario()">Agregar Usuario</button>

<table id="usuarios" class="table table-striped" style="width:100%"></table>

<div id="usuariosAddPartial"></div>

<script src="~/js/Usuarios/Usuarios.js"></script>
