


<div class="text-center">
    <h1 class="display-4">Clases</h1>
</div>

<button class="btn btn-primary m-3" onclick="AgregarClase()">Agregar Clase</button>

<div id="listaClases"></div>


<script src="~/js/ClasesAdmin/ClasesAdmin.js"></script>